
@font-face {
    font-family:"RijksoverheidSerif Italic";
    src:url("rijksoverheidserif-italic.woff2") format("woff2"),url("rijksoverheidserif-italic.woff") format("woff"),url("rijksoverheidserif-italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        