
@font-face {
    font-family:"RijksoverheidSerif Regular";
    src:url("rijksoverheidserif-regular.woff2") format("woff2"),url("rijksoverheidserif-regular.woff") format("woff"),url("rijksoverheidserif-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        