$font-size-base: 16px;
$line-height-base: 1.5;
$font-family-base: 'ROSans', sans-serif,
serif;
$font-family-header: $font-family-base;
$font-weight-base: 300;
$font-weight-header-base: 600;
$font-family-serif: 'ROSerif', serif;

$margin: 1.125rem;
$spacing: 1rem;
$spacing-half: $spacing / 2;
$spacing-double: 2 * $spacing;

$breakpoint-all : 0;
$breakpoint-small : 540px;
$breakpoint-medium: 768px;
$breakpoint-large : 1024px;
$breakpoint-max: 1280px;

$breakpoint-all-small : $breakpoint-all ($breakpoint-small - 1);
$breakpoint-all-medium : $breakpoint-all ($breakpoint-medium - 1);
$breakpoint-small-medium: $breakpoint-small ($breakpoint-medium - 1);

// In use colors
$black: rgb(0, 0, 0);
$nero: rgb(32, 32, 32);
$madison: rgb(43, 56, 87);
$midnight: rgb(21, 66, 115);
$cerulean: rgb(1, 104, 155);
$forest: rgb(57, 135, 12);
$pixie: rgb(195, 219, 182);
$dim-grey: rgb(92, 93, 94);
$dark-grey: rgb(180, 181 ,182);
$silver: rgb(200, 201, 202);
$gainsborow: rgb(220, 220, 220);
$smoke: rgb(240, 240, 245);
$white: rgb(255, 255, 255); 