<header role="banner" class="page-header">
  <div class="header">
    <a class="menu-toggle"><i class="fas fa-bars"></i></a>
    {{ page.header }}
    <a class="search-toggle"><i class="fas fa-search"></i></a>
  </div>
  <div class="navigation">
    {{ page.navigation }}
  </div>
</header>

<main role="main" class="page-content">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="above">
    {{ page.above }}
  </div>
  <div class="main-content-wrapper">
    {{ page.content }}
    {{ page.aside }}
  </div>
</main>

<footer role="contentinfo" class="page-footer">
  <div class="footer">
    <div class="container">
      {{ page.footer }}
    </div>
  </div>
  <div class="disclaimer">
    <div class="container">
      <div class="copyright"><a href="https://geonovum.nl">&copy; 2019 Geonovum</a></div>
        {{ page.disclaimer }}
      <div>
    </div>
  </div>
</footer>
