.diff-revisions {
  width: 100%;
  margin-bottom: $spacing;

  thead {
    border-bottom: 1px solid $silver;

    th {
      padding: $spacing / 4;
    }
  }
  tr {
    td {
      padding: $spacing / 4;

      a {
        margin-right: $spacing;
      }
    }
  }
}
