a[target="_blank"] {
  &::after {
    content: '';
    display: inline-block;
    height: $spacing / 3 * 2;
    width: $spacing / 3 * 2;
    background-image: url(../assets/ext-link.svg);
    background-repeat: no-repeat;
    background-position: top;
    margin: 0 0 $spacing / 3 $spacing / 4;
  }
}