.node--type-page.node--view-mode-teaser {
  transition: all 0.333s ease-in-out;
  display: flex;
  flex-direction: column;
  border-top: 2px solid $pixie;

  &:hover {
    background: $pixie;
  }

  .teaser-content {
    padding: $spacing;
    display: flex;
    flex-direction: column;
    height: 100%;

    .field--name-node-link {
      margin-top: auto;
      text-align: right;
      font-family: $font-family-serif;

      a {
        color: $forest;

        &::after {
          content: ' →';
        }
      }
    }
  }
}

// Color overrides if this is this in a 'path'.
// If the changes to the content type will be more
// then just a few colors, we will introduce a new
// viewmode. But for now, this will suffice.
body.page-node-type-path .node--type-page.node--view-mode-teaser {
  color: $white;
  background: $cerulean;
  border-top-color: $midnight;

  a, 
  .teaser-content .field--name-node-link a {
    color: $white;
  }
}