.node--type-page.node--view-mode-full {
  .field--name-field-intro {
    margin-bottom: $spacing;
    font-size: 1.33rem;
  }

  .field--name-field-snippets {
    .field__item {
      margin-bottom: $spacing;
      img {
        margin: 0 auto $spacing;
      }
    }
  }
}