
@font-face {
    font-family:"RijksoverheidSansText Regular";
    src:url("rijksoverheidsanstext-regular.woff2") format("woff2"),url("rijksoverheidsanstext-regular.woff") format("woff"),url("rijksoverheidsanstext-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        