.region-content .search-api-page-block-form {
  display: flex;
  background: $smoke;
  padding: $spacing;
  margin-bottom: $spacing;

  .form-item,
  .form-item input,
  .form-actions,
  .form-actions input {
    margin:0;
  }

  .form-item {
    flex-grow: 1;

    input {
      width: 100%;
      border-radius: 2px 0 0 2px;
    }
  }

  .form-actions input {
    border-radius: 0 2px 2px 0;
    border:1px solid $cerulean;
  }
}