input,
button,
input[type="submit"],
textarea {
    transition: all 0.3333s ease-in-out;
    border-radius: 2px;
}

%textfield-base {
    border: 1px solid $silver;
    padding: $spacing * 0.75 $spacing * 1.25;
    font-size: 1.25rem;
    font-family: $font-family-base;
    box-shadow: inset 0 0 15px rgba($dim-grey, 0.15);
    margin-bottom: $margin;

    &:focus,
    &:hover {
        outline: none;
        border: 1px solid $forest;
        box-shadow: none;
        box-shadow: 0 0 5px rgba($forest, 0.4);
    }
}

textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"] {
    @extend %textfield-base;
}


%button-base {
    background: $cerulean;
    color: $white;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.75rem $spacing * 1.5;
    font-size: 1.25rem;
    border: none;
    font-weight: 400;
    font-family: $font-family-base;
    margin: 0 0 $spacing;

    &:hover,
    &:focus {
        background-color: $madison;
        box-shadow: 0 0 30px rgba($black, 0.05);
        border: none;
    }
}

input[type="submit"],
button,
.button {
    @extend %button-base;
}

label {
  font-weight: 600;
}

select {
  -webkit-appearance: none;
  appearance: none;  
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid $silver;
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  font-family: $font-family-base;
  box-shadow: inset 0 0 15px rgba($dim-grey, 0.15);
  background-color: #fff;
  background-image: url(../assets/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: rgb(63, 76, 107);
}

.form-item {
  display: flex;
  flex-direction: column;

  &.form-type-checkbox,
  &.form-type-radio {
    flex-direction: row;
    align-items: baseline;

    input {
      margin-right: $spacing-half;
    }
  }
}
