.search-api-page-block-form form {
  display: flex;

  .form-item,
  .form-actions {
    margin: 0;
  }

  .form-submit {
    border:1px solid $cerulean;
    border-radius: 0 2px 2px 0;
    text-indent: -9999px;
    background-image: url(../assets/search-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $spacing * 1.5;
  }

  .form-text {
    border-radius: 2px 0 0 2px;
    background-image: none;
  }

  input {
    margin: 0;
  }
}