.page-footer {
  background: $gainsborow;
  border-top: 1px solid $dark-grey;

  .container {
    margin: 0 auto;
    max-width: $breakpoint-max;
    padding: $spacing;

    @include breakpoint($breakpoint-medium) {
      padding: $spacing-double;
      display: flex;
      align-items: center;
    }
  }

  .disclaimer {
    background: $midnight;
    color: $white;

    .copyright {
      font-family: $font-family-serif;
      margin-right: auto;
      margin-bottom: $spacing;

      @include breakpoint($breakpoint-medium) {
        margin-bottom: 0;
      }

      a {
        color: currentColor;
      }
    }
  }
}
