.page-header {
  background: $white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  z-index: 2;

  @include breakpoint($breakpoint-medium) {
    position: relative;
    box-shadow: unset;
  }

  .header {
    margin: 0 auto;
    max-width: $breakpoint-max;
    padding: 0 $spacing;
    display: flex;
    align-items: center;
  
    .region-header {
      display: flex;
      align-items: center;
      margin: 0 auto;
    }

    a {
      display: flex;
      align-items: center;
      color: $forest;
      cursor: pointer;
    }

    @include breakpoint($breakpoint-medium) {
      padding: 0 $spacing-double;

      >a {
        display: none;
      }

      .region-header {
        margin: 0;
        width: 100%;
      }
    }

    .site-logo {
      img {
        height: 3rem;
        margin: $spacing-half 0;

        @include breakpoint($breakpoint-medium) {
          height: 5rem;
          margin: $spacing 0;
        }
      }
    }

    .search-api-page-block-form {
      display: none;

      @include breakpoint($breakpoint-medium) {
        display: block;
      }
    }
  }
}