.main-content-wrapper {
  padding: $spacing-double $spacing;
  margin: 0 auto;
  max-width: $breakpoint-max;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing-double;
  }

  @include breakpoint($breakpoint-large) {
    display: flex;

    .region-content {
      min-width: calc(100% - 22rem);
    }

    .region-aside {
      min-width: 22rem;
    }
  }
}

body.has-aside {
  @include breakpoint($breakpoint-large) {
    .region-content {
      padding-right: $spacing-double;
    }
  }
}

.page-content {
  padding-top: $spacing * 4;

  @include breakpoint($breakpoint-medium) {
    padding-top: 0;
  }
}

