
@font-face {
    font-family:"RijksoverheidSansHeading Bold";
    src:url("rijksoverheidsansheading-bold.woff2") format("woff2"),url("rijksoverheidsansheading-bold.woff") format("woff"),url("rijksoverheidsansheading-bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        