nav.breadcrumb {
  padding: 0;

  ol {
    display: flex;

    li {
      padding: 0;
      margin: 0 $spacing-half $spacing-half 0;

      &:not(:first-child):before {
        content: '›';
      }
    }
  }
}