.menu--footer {
  ul.menu {
    padding: 0;
    margin: 0;

    @include breakpoint($breakpoint-medium) {
      display: flex;
    }

    li {
      padding: 0;
      margin: 0 $spacing 0 0;

       &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: currentColor;
    }
  }
}