.menu--main {
  background: $forest;
  margin: 0 auto;
  display: none;

  @include breakpoint($breakpoint-medium) {
    display: block;
  }

  ul.menu {
    display: flex;
    margin: 0 auto;
    padding: 0 $spacing;
    max-width: $breakpoint-max;
  
    @include breakpoint($breakpoint-medium) {
      padding: 0 $spacing-double;
    }

    li {
      padding: 0;
      position: relative;

      &:first-child {
        margin-right: auto;
        margin-left: (-$spacing*3/4);
      }

      a {
        display: block;
        padding: $spacing $spacing*3/4;
        font-weight: 400;  
        font-size: 1.25rem;
        color: $white;
        border: none;

        &.is-active,
        &:hover {
          color: $black;
          background-color: $pixie;
        }
      }

      &.menu-item--expanded {
        list-style: none;
        list-style-image: none;

        > a {
          &::after {
            content: '';
            margin-left: $spacing-half;
            display: inline-block;
            font-weight: 600;
            height: $spacing;
            width: $spacing;
            background: white;
            mask: url('../assets/arrow-down.svg') no-repeat 50% 50%;
            -webkit-mask: url('../assets/arrow-down.svg') no-repeat 50% 50%;
            transition: all 0.333s ease-in-out;
          }

          &:hover::after {
            background: $black;
          }
        }
      }

      &.menu-item--active-trail {
        > a {
          &::after {
            background: $black;
          }
        }
      }

      &:hover {
        ul {
          display: block;
        }
      }

      // Submenu
      ul {
        position: absolute;
        padding: 0;
        right: 0;
        flex-direction: column;
        z-index: 2;
        background: #fff;
        box-shadow: 0 0 20px rgba(0,0,0, 0.2);
        display: none;

        li {
          margin: 0;
          padding: 0;

          &:first-child {
            margin-left: 0;
            margin-right: 0;
          }

          a {
            border-bottom: 1px solid $gainsborow;
            cursor: pointer;
            color: $cerulean;
            white-space: nowrap;
            padding: $spacing $spacing-double $spacing $spacing;
            font-weight: 300;
          }
        }
      }
    }
  }
}