.mobile-menu-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 100vh;
  width: 75vw;
  max-width: 400px;
  background: $pixie;
  padding: $spacing 0;
  overflow-y: scroll;
  z-index: 4;

  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 0;
      padding: 0;

      // Submenu-indent.
      ul {
        margin-left: $spacing;
        display: none;     
      }

      &.menu-item--active-trail ul {
        display: block;
      }
    }

    a {
      color: $black;
      padding: $spacing / 3 $spacing;
      display: block;
      border: none;
      font-size: 1.25rem;
      transition: 0.333s ease-in-out;

      &:focus,
      &:hover {
        background: $forest;
        color: $white;
      }
    }
  }

  ul.main-menu,
  ul.footer-menu {
    margin-bottom: $spacing;
  }

  ul.main-menu > li:first-child a {
    background: url(../assets/logo-diapositive.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: $spacing;
    padding: $spacing * 2.5 $spacing 0;
    text-indent: -9999px;
  }

  ul.footer-menu {
    margin-top: auto;

    a {
      font-size: 1rem;
      
    }
  }
}

.mobile-menu-blinder {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(darken($forest, 50%), 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

body.mobile-menu-open {
  overflow-y: hidden;

  .mobile-menu-wrapper {
    transform: translateX(0%);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
  }

  .mobile-menu-blinder {
    opacity: 1;
    pointer-events: all;
  }
}

body.toolbar-vertical {
  .mobile-menu-wrapper {
    top: 40px;
    height: calc(100vh - 40px);
  }
}