.search-api-autocomplete-search.ui-widget {
  background: $pixie;
  padding: $spacing-half $spacing;
  border: none;
  box-shadow: 0 0 30px rgba($black, 0.15);
  font-family: $font-family-base;

  li.ui-menu-item {
    &:hover {
      background: transparent;
      cursor: pointer;
    }

    .search-api-autocomplete-suggestion {
      padding: $spacing-half 0;
    }

    a.ui-state-active {
      .search-api-autocomplete-suggestion {
        margin: 0;
        padding: $spacing-half 0;
        background: transparent;

        span {
          border-bottom: 1px solid currentColor;
          color: $cerulean;
        }
      }
    }

    a {
      color: $cerulean;
      border: none;

      span {
        border-bottom: 1px solid transparent;
        transition: all 0.333s ease-in-out;
        cursor: pointer;
      }
    }
  }
}