@charset "UTF-8";
/* line 1, ../scss/base/_reboot.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 7, ../scss/base/_reboot.scss */
html {
  box-sizing: border-box;
  margin: 0;
  font-family: "ROSans", sans-serif, serif;
  font-size: 16px;
  line-height: 1.5;
  text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

/* line 18, ../scss/base/_reboot.scss */
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

/* line 32, ../scss/base/_reboot.scss */
body {
  margin: 0;
  text-align: left;
  background: #fff;
  font-size: 1.15rem;
}

/* line 39, ../scss/base/_reboot.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.125rem;
  line-height: 1.2;
  font-weight: 600;
}

/* line 51, ../scss/base/_reboot.scss */
h1 {
  font-size: 2.5rem;
}

/* line 55, ../scss/base/_reboot.scss */
h2 {
  font-size: 2rem;
}

/* line 59, ../scss/base/_reboot.scss */
h3 {
  font-size: 1.75rem;
}

/* line 63, ../scss/base/_reboot.scss */
h4 {
  font-size: 1.5rem;
}

/* line 67, ../scss/base/_reboot.scss */
h5 {
  font-size: 1.33rem;
}

/* line 71, ../scss/base/_reboot.scss */
p {
  margin: 0;
}

/* line 75, ../scss/base/_reboot.scss */
p + p {
  margin: 1.125rem 0 0 0;
}

/* line 79, ../scss/base/_reboot.scss */
ol,
ul {
  margin: 0 0 1.125rem 0;
}

/* line 84, ../scss/base/_reboot.scss */
ol ol,
ul ul {
  margin-bottom: 0;
}

/* line 89, ../scss/base/_reboot.scss */
P + ul {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 94, ../scss/base/_reboot.scss */
p + ol {
  margin-top: 1.125rem;
  font-style: italic;
}

/* line 99, ../scss/base/_reboot.scss */
strong {
  font-weight: 600;
}

/* line 103, ../scss/base/_reboot.scss */
a {
  text-decoration: none;
  color: #03f;
  border-bottom: 1px solid transparent;
  transition: all 0.3333s ease-in-out;
}
/* line 109, ../scss/base/_reboot.scss */
a:hover {
  text-decoration: none;
  border-bottom: 1px solid #03f;
}

/* line 115, ../scss/base/_reboot.scss */
img {
  display: block;
  margin: 0;
  border: 0;
  max-width: 100%;
  height: auto;
}

/* line 123, ../scss/base/_reboot.scss */
.dialog-off-canvas-main-canvas {
  position: relative;
}

@font-face {
  font-family: "ROSans";
  src: url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.woff2") format("woff2"), url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.woff") format("woff"), url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.woff2") format("woff2"), url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.woff") format("woff"), url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "ROSans";
  src: url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.woff2") format("woff2"), url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.woff") format("woff"), url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "ROSerif";
  src: url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.woff2") format("woff2"), url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.woff") format("woff"), url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
}
/* line 41, ../scss/base/_typography.scss */
body {
  font-size: 1.15rem;
  line-height: 1.6;
}

/* line 46, ../scss/base/_typography.scss */
h1, h2, h3, h4 {
  margin-bottom: 1.5rem;
  font-family: "ROSans", sans-serif, serif;
  color: #154273;
  line-height: 1.2;
}

/* line 53, ../scss/base/_typography.scss */
h1 {
  font-size: 2.5rem;
  letter-spacing: -0.038rem;
  font-weight: 400;
}

/* line 59, ../scss/base/_typography.scss */
h2 {
  font-size: 2rem;
}

/* line 63, ../scss/base/_typography.scss */
a {
  color: #01689b;
}
/* line 66, ../scss/base/_typography.scss */
a:hover {
  border-bottom-color: currentColor;
}

/* line 1, ../scss/regions/_header.scss */
.page-header {
  background: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_header.scss */
  .page-header {
    position: relative;
    box-shadow: unset;
  }
}
/* line 13, ../scss/regions/_header.scss */
.page-header .header {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
/* line 20, ../scss/regions/_header.scss */
.page-header .header .region-header {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* line 26, ../scss/regions/_header.scss */
.page-header .header a {
  display: flex;
  align-items: center;
  color: #39870c;
  cursor: pointer;
}
@media (min-width: 768px) {
  /* line 13, ../scss/regions/_header.scss */
  .page-header .header {
    padding: 0 2rem;
  }
  /* line 36, ../scss/regions/_header.scss */
  .page-header .header > a {
    display: none;
  }
  /* line 40, ../scss/regions/_header.scss */
  .page-header .header .region-header {
    margin: 0;
    width: 100%;
  }
}
/* line 47, ../scss/regions/_header.scss */
.page-header .header .site-logo img {
  height: 3rem;
  margin: 0.5rem 0;
}
@media (min-width: 768px) {
  /* line 47, ../scss/regions/_header.scss */
  .page-header .header .site-logo img {
    height: 5rem;
    margin: 1rem 0;
  }
}
/* line 58, ../scss/regions/_header.scss */
.page-header .header .search-api-page-block-form {
  display: none;
}
@media (min-width: 768px) {
  /* line 58, ../scss/regions/_header.scss */
  .page-header .header .search-api-page-block-form {
    display: block;
  }
}

/* line 1, ../scss/regions/_above.scss */
.region-above {
  background: #c3dbb6;
}

/* line 1, ../scss/regions/_page-content.scss */
.main-content-wrapper {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1280px;
}
@media (min-width: 768px) {
  /* line 1, ../scss/regions/_page-content.scss */
  .main-content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 1024px) {
  /* line 1, ../scss/regions/_page-content.scss */
  .main-content-wrapper {
    display: flex;
  }
  /* line 13, ../scss/regions/_page-content.scss */
  .main-content-wrapper .region-content {
    min-width: calc(100% - 22rem);
  }
  /* line 17, ../scss/regions/_page-content.scss */
  .main-content-wrapper .region-aside {
    min-width: 22rem;
  }
}

@media (min-width: 1024px) {
  /* line 25, ../scss/regions/_page-content.scss */
  body.has-aside .region-content {
    padding-right: 2rem;
  }
}

/* line 31, ../scss/regions/_page-content.scss */
.page-content {
  padding-top: 4rem;
}
@media (min-width: 768px) {
  /* line 31, ../scss/regions/_page-content.scss */
  .page-content {
    padding-top: 0;
  }
}

/* line 1, ../scss/regions/_aside.scss */
.region-aside .block {
  border-top: 3px solid #c3dbb6;
  margin-bottom: 2rem;
  padding-top: 1rem;
}
/* line 6, ../scss/regions/_aside.scss */
.region-aside .block h2 {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 1rem;
}

/* line 1, ../scss/regions/_footer.scss */
.page-footer {
  background: gainsboro;
  border-top: 1px solid #b4b5b6;
}
/* line 5, ../scss/regions/_footer.scss */
.page-footer .container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
}
@media (min-width: 768px) {
  /* line 5, ../scss/regions/_footer.scss */
  .page-footer .container {
    padding: 2rem;
    display: flex;
    align-items: center;
  }
}
/* line 17, ../scss/regions/_footer.scss */
.page-footer .disclaimer {
  background: #154273;
  color: white;
}
/* line 21, ../scss/regions/_footer.scss */
.page-footer .disclaimer .copyright {
  font-family: "ROSerif", serif;
  margin-right: auto;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 21, ../scss/regions/_footer.scss */
  .page-footer .disclaimer .copyright {
    margin-bottom: 0;
  }
}
/* line 30, ../scss/regions/_footer.scss */
.page-footer .disclaimer .copyright a {
  color: currentColor;
}

/* line 1, ../scss/blocks/_block--breadcrumbs.scss */
.block-system-breadcrumb-block {
  padding: 1rem 1rem 0.5rem;
  background-color: #c3dbb6;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
@media (min-width: 768px) {
  /* line 1, ../scss/blocks/_block--breadcrumbs.scss */
  .block-system-breadcrumb-block {
    padding: 1rem 2rem 0.5rem;
  }
}
/* line 13, ../scss/blocks/_block--breadcrumbs.scss */
.block-system-breadcrumb-block h2 {
  display: none;
  color: black;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0.25rem 0 0;
}
@media (min-width: 768px) {
  /* line 13, ../scss/blocks/_block--breadcrumbs.scss */
  .block-system-breadcrumb-block h2 {
    display: block;
  }
}

/* line 1, ../scss/blocks/_block--search.scss */
.block-search-api-page {
  display: flex;
  margin-left: auto;
}

/* line 1, ../scss/forms/_form-elements.scss */
input,
button,
input[type="submit"],
textarea {
  transition: all 0.3333s ease-in-out;
  border-radius: 2px;
}

/* line 9, ../scss/forms/_form-elements.scss */
textarea,
input[type="search"],
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="url"] {
  border: 1px solid #c8c9ca;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-family: "ROSans", sans-serif, serif;
  box-shadow: inset 0 0 15px rgba(92, 93, 94, 0.15);
  margin-bottom: 1.125rem;
}
/* line 17, ../scss/forms/_form-elements.scss */
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="url"]:focus, textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
input[type="url"]:hover {
  outline: none;
  border: 1px solid #39870c;
  box-shadow: none;
  box-shadow: 0 0 5px rgba(57, 135, 12, 0.4);
}

/* line 39, ../scss/forms/_form-elements.scss */
input[type="submit"],
button,
.button {
  background: #01689b;
  color: white;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border: none;
  font-weight: 400;
  font-family: "ROSans", sans-serif, serif;
  margin: 0 0 1rem;
}
/* line 52, ../scss/forms/_form-elements.scss */
input[type="submit"]:hover,
button:hover,
.button:hover, input[type="submit"]:focus,
button:focus,
.button:focus {
  background-color: #2b3857;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  border: none;
}

/* line 66, ../scss/forms/_form-elements.scss */
label {
  font-weight: 600;
}

/* line 70, ../scss/forms/_form-elements.scss */
select {
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid #c8c9ca;
  padding: calc(1rem - 1px) 2.5rem;
  padding-left: 1.5rem;
  font-size: 1.1rem;
  font-family: "ROSans", sans-serif, serif;
  box-shadow: inset 0 0 15px rgba(92, 93, 94, 0.15);
  background-color: #fff;
  background-image: url(../assets/arrow-down.svg);
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: .75rem;
  color: #3f4c6b;
}

/* line 89, ../scss/forms/_form-elements.scss */
.form-item {
  display: flex;
  flex-direction: column;
}
/* line 93, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox, .form-item.form-type-radio {
  flex-direction: row;
  align-items: baseline;
}
/* line 98, ../scss/forms/_form-elements.scss */
.form-item.form-type-checkbox input, .form-item.form-type-radio input {
  margin-right: 0.5rem;
}

/* line 1, ../scss/forms/_form--search-api-block.scss */
.search-api-page-block-form form {
  display: flex;
}
/* line 4, ../scss/forms/_form--search-api-block.scss */
.search-api-page-block-form form .form-item,
.search-api-page-block-form form .form-actions {
  margin: 0;
}
/* line 9, ../scss/forms/_form--search-api-block.scss */
.search-api-page-block-form form .form-submit {
  border: 1px solid #01689b;
  border-radius: 0 2px 2px 0;
  text-indent: -9999px;
  background-image: url(../assets/search-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
}
/* line 19, ../scss/forms/_form--search-api-block.scss */
.search-api-page-block-form form .form-text {
  border-radius: 2px 0 0 2px;
  background-image: none;
}
/* line 24, ../scss/forms/_form--search-api-block.scss */
.search-api-page-block-form form input {
  margin: 0;
}

/* line 1, ../scss/forms/_form--search-api-page.scss */
.region-content .search-api-page-block-form {
  display: flex;
  background: #f0f0f5;
  padding: 1rem;
  margin-bottom: 1rem;
}
/* line 7, ../scss/forms/_form--search-api-page.scss */
.region-content .search-api-page-block-form .form-item,
.region-content .search-api-page-block-form .form-item input,
.region-content .search-api-page-block-form .form-actions,
.region-content .search-api-page-block-form .form-actions input {
  margin: 0;
}
/* line 14, ../scss/forms/_form--search-api-page.scss */
.region-content .search-api-page-block-form .form-item {
  flex-grow: 1;
}
/* line 17, ../scss/forms/_form--search-api-page.scss */
.region-content .search-api-page-block-form .form-item input {
  width: 100%;
  border-radius: 2px 0 0 2px;
}
/* line 23, ../scss/forms/_form--search-api-page.scss */
.region-content .search-api-page-block-form .form-actions input {
  border-radius: 0 2px 2px 0;
  border: 1px solid #01689b;
}

/* line 1, ../scss/navigation/_menu--main.scss */
.menu--main {
  background: #39870c;
  margin: 0 auto;
  display: none;
}
@media (min-width: 768px) {
  /* line 1, ../scss/navigation/_menu--main.scss */
  .menu--main {
    display: block;
  }
}
/* line 10, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu {
  display: flex;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1280px;
}
@media (min-width: 768px) {
  /* line 10, ../scss/navigation/_menu--main.scss */
  .menu--main ul.menu {
    padding: 0 2rem;
  }
}
/* line 20, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li {
  padding: 0;
  position: relative;
}
/* line 24, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li:first-child {
  margin-right: auto;
  margin-left: -0.75rem;
}
/* line 29, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li a {
  display: block;
  padding: 1rem 0.75rem;
  font-weight: 400;
  font-size: 1.25rem;
  color: white;
  border: none;
}
/* line 37, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li a.is-active, .menu--main ul.menu li a:hover {
  color: black;
  background-color: #c3dbb6;
}
/* line 44, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li.menu-item--expanded {
  list-style: none;
  list-style-image: none;
}
/* line 49, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li.menu-item--expanded > a::after {
  content: '';
  margin-left: 0.5rem;
  display: inline-block;
  font-weight: 600;
  height: 1rem;
  width: 1rem;
  background: white;
  mask: url("../assets/arrow-down.svg") no-repeat 50% 50%;
  -webkit-mask: url("../assets/arrow-down.svg") no-repeat 50% 50%;
  transition: all 0.333s ease-in-out;
}
/* line 62, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li.menu-item--expanded > a:hover::after {
  background: black;
}
/* line 70, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li.menu-item--active-trail > a::after {
  background: black;
}
/* line 77, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li:hover ul {
  display: block;
}
/* line 83, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li ul {
  position: absolute;
  padding: 0;
  right: 0;
  flex-direction: column;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
}
/* line 93, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li ul li {
  margin: 0;
  padding: 0;
}
/* line 97, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li ul li:first-child {
  margin-left: 0;
  margin-right: 0;
}
/* line 102, ../scss/navigation/_menu--main.scss */
.menu--main ul.menu li ul li a {
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
  color: #01689b;
  white-space: nowrap;
  padding: 1rem 2rem 1rem 1rem;
  font-weight: 300;
}

/* line 1, ../scss/navigation/_breadcrumbs.scss */
nav.breadcrumb {
  padding: 0;
}
/* line 4, ../scss/navigation/_breadcrumbs.scss */
nav.breadcrumb ol {
  display: flex;
}
/* line 7, ../scss/navigation/_breadcrumbs.scss */
nav.breadcrumb ol li {
  padding: 0;
  margin: 0 0.5rem 0.5rem 0;
}
/* line 11, ../scss/navigation/_breadcrumbs.scss */
nav.breadcrumb ol li:not(:first-child):before {
  content: '›';
}

/* line 2, ../scss/navigation/_menu--footer.scss */
.menu--footer ul.menu {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  /* line 2, ../scss/navigation/_menu--footer.scss */
  .menu--footer ul.menu {
    display: flex;
  }
}
/* line 10, ../scss/navigation/_menu--footer.scss */
.menu--footer ul.menu li {
  padding: 0;
  margin: 0 1rem 0 0;
}
/* line 14, ../scss/navigation/_menu--footer.scss */
.menu--footer ul.menu li:last-child {
  margin-right: 0;
}
/* line 19, ../scss/navigation/_menu--footer.scss */
.menu--footer ul.menu a {
  color: currentColor;
}

/* line 1, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget {
  background: #c3dbb6;
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  font-family: "ROSans", sans-serif, serif;
}
/* line 9, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item:hover {
  background: transparent;
  cursor: pointer;
}
/* line 14, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item .search-api-autocomplete-suggestion {
  padding: 0.5rem 0;
}
/* line 19, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item a.ui-state-active .search-api-autocomplete-suggestion {
  margin: 0;
  padding: 0.5rem 0;
  background: transparent;
}
/* line 24, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item a.ui-state-active .search-api-autocomplete-suggestion span {
  border-bottom: 1px solid currentColor;
  color: #01689b;
}
/* line 31, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item a {
  color: #01689b;
  border: none;
}
/* line 35, ../scss/navigation/_search--autocomplete.scss */
.search-api-autocomplete-search.ui-widget li.ui-menu-item a span {
  border-bottom: 1px solid transparent;
  transition: all 0.333s ease-in-out;
  cursor: pointer;
}

/* line 1, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 100vh;
  width: 75vw;
  max-width: 400px;
  background: #c3dbb6;
  padding: 1rem 0;
  overflow-y: scroll;
  z-index: 4;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
/* line 18, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 23, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li {
  margin-bottom: 0;
  padding: 0;
}
/* line 28, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li ul {
  margin-left: 1rem;
  display: none;
}
/* line 33, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul li.menu-item--active-trail ul {
  display: block;
}
/* line 38, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul a {
  color: black;
  padding: 0.33333rem 1rem;
  display: block;
  border: none;
  font-size: 1.25rem;
  transition: 0.333s ease-in-out;
}
/* line 46, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul a:focus, .mobile-menu-wrapper ul a:hover {
  background: #39870c;
  color: white;
}
/* line 54, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul.main-menu,
.mobile-menu-wrapper ul.footer-menu {
  margin-bottom: 1rem;
}
/* line 59, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul.main-menu > li:first-child a {
  background: url(../assets/logo-diapositive.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  padding: 2.5rem 1rem 0;
  text-indent: -9999px;
}
/* line 68, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul.footer-menu {
  margin-top: auto;
}
/* line 71, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-wrapper ul.footer-menu a {
  font-size: 1rem;
}

/* line 78, ../scss/navigation/_menu--mobile.scss */
.mobile-menu-blinder {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

/* line 91, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open {
  overflow-y: hidden;
}
/* line 94, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-wrapper {
  transform: translateX(0%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
}
/* line 99, ../scss/navigation/_menu--mobile.scss */
body.mobile-menu-open .mobile-menu-blinder {
  opacity: 1;
  pointer-events: all;
}

/* line 106, ../scss/navigation/_menu--mobile.scss */
body.toolbar-vertical .mobile-menu-wrapper {
  top: 40px;
  height: calc(100vh - 40px);
}

/* line 3, ../scss/nodes/_node--page--header.scss */
.node--type-page.node--view-mode-header .field--name-field-image img {
  min-width: 100%;
  height: auto;
}

/* line 2, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .field--name-field-intro {
  margin-bottom: 1rem;
  font-size: 1.33rem;
}
/* line 8, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .field--name-field-snippets .field__item {
  margin-bottom: 1rem;
}
/* line 10, ../scss/nodes/_node--page--full.scss */
.node--type-page.node--view-mode-full .field--name-field-snippets .field__item img {
  margin: 0 auto 1rem;
}

/* line 1, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser {
  transition: all 0.333s ease-in-out;
  display: flex;
  flex-direction: column;
  border-top: 2px solid #c3dbb6;
}
/* line 7, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser:hover {
  background: #c3dbb6;
}
/* line 11, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser .teaser-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* line 17, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser .teaser-content .field--name-node-link {
  margin-top: auto;
  text-align: right;
  font-family: "ROSerif", serif;
}
/* line 22, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser .teaser-content .field--name-node-link a {
  color: #39870c;
}
/* line 25, ../scss/nodes/_node--page--teaser.scss */
.node--type-page.node--view-mode-teaser .teaser-content .field--name-node-link a::after {
  content: ' →';
}

/* line 37, ../scss/nodes/_node--page--teaser.scss */
body.page-node-type-path .node--type-page.node--view-mode-teaser {
  color: white;
  background: #01689b;
  border-top-color: #154273;
}
/* line 42, ../scss/nodes/_node--page--teaser.scss */
body.page-node-type-path .node--type-page.node--view-mode-teaser a,
body.page-node-type-path .node--type-page.node--view-mode-teaser .teaser-content .field--name-node-link a {
  color: white;
}

/* line 2, ../scss/nodes/_node--path--full.scss */
.node--type-path.node--view-mode-full .field--name-field-intro {
  margin-bottom: 1.5rem;
  font-size: 1.33rem;
}

/* line 3, ../scss/nodes/_node--path--header.scss */
.node--type-path.node--view-mode-header .field--name-field-image img {
  min-width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  /* line 2, ../scss/fields/_field--related-pages.scss */
  .field--name-field-related-pages .field__items {
    margin: 0 -0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}
/* line 9, ../scss/fields/_field--related-pages.scss */
.field--name-field-related-pages .field__items > .field__item {
  display: flex;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  /* line 9, ../scss/fields/_field--related-pages.scss */
  .field--name-field-related-pages .field__items > .field__item {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  /* line 9, ../scss/fields/_field--related-pages.scss */
  .field--name-field-related-pages .field__items > .field__item {
    width: 33.333%;
  }
}

@media (min-width: 768px) {
  /* line 1, ../scss/fields/_field--pages.scss */
  .field--name-field-pages {
    margin: 0 -0.5rem 1rem;
    display: flex;
    flex-wrap: wrap;
  }
}
/* line 8, ../scss/fields/_field--pages.scss */
.field--name-field-pages > .field__item {
  display: flex;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  /* line 8, ../scss/fields/_field--pages.scss */
  .field--name-field-pages > .field__item {
    padding: 0 0.5rem;
    width: 50%;
  }
}
@media (min-width: 1280px) {
  /* line 8, ../scss/fields/_field--pages.scss */
  .field--name-field-pages > .field__item {
    width: 33.333%;
  }
}

/* line 1, ../scss/content/_diff-revisions.scss */
.diff-revisions {
  width: 100%;
  margin-bottom: 1rem;
}
/* line 5, ../scss/content/_diff-revisions.scss */
.diff-revisions thead {
  border-bottom: 1px solid #c8c9ca;
}
/* line 8, ../scss/content/_diff-revisions.scss */
.diff-revisions thead th {
  padding: 0.25rem;
}
/* line 13, ../scss/content/_diff-revisions.scss */
.diff-revisions tr td {
  padding: 0.25rem;
}
/* line 16, ../scss/content/_diff-revisions.scss */
.diff-revisions tr td a {
  margin-right: 1rem;
}

/* line 2, ../scss/content/_external-links.scss */
a[target="_blank"]::after {
  content: '';
  display: inline-block;
  height: 0.66667rem;
  width: 0.66667rem;
  background-image: url(../assets/ext-link.svg);
  background-repeat: no-repeat;
  background-position: top;
  margin: 0 0 0.33333rem 0.25rem;
}

/* line 2, ../scss/content/_admin.scss */
.draggable a.tabledrag-handle {
  margin-left: 0;
}
/* line 5, ../scss/content/_admin.scss */
.draggable a.tabledrag-handle .handle {
  height: unset;
  width: unset;
}
