body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-weight: 300;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0 0 18px 0;
}