.block-system-breadcrumb-block {
  padding: $spacing $spacing $spacing-half;
  background-color: $pixie;
  max-width: $breakpoint-max;
  margin: 0 auto;
  display: flex;
  align-items: baseline;

  @include breakpoint($breakpoint-medium) {
    padding: $spacing $spacing-double $spacing-half;
  }

  h2 {
    display: none;
    color: $black;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 $spacing / 4 0 0;

    @include breakpoint($breakpoint-medium) {
      display: block;
    }
  }
}