
@font-face {
    font-family:"Verheul      SansWebText Italic";
    src:url("rijksoverheidsanstext-italic.woff2") format("woff2"),url("rijksoverheidsanstext-italic.woff") format("woff"),url("rijksoverheidsanstext-italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        