@font-face {
    font-family:"ROSans";
    src:
      url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.woff2") format("woff2"),
      url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.woff") format("woff"),
      url("../fonts/rijksoverheidsanstext-regular/rijksoverheidsanstext-regular.otf") format("opentype");
    font-style:normal;
    font-weight:400;
}

@font-face {
      font-family:"ROSans";
    src:
      url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.woff2") format("woff2"),
      url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.woff") format("woff"),
      url("../fonts/rijksoverheidsansheading-bold/rijksoverheidsansheading-bold.otf") format("opentype");
    font-style:normal;
    font-weight:600;
}

@font-face {
      font-family:"ROSans";
    src:
      url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.woff2") format("woff2"),
      url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.woff") format("woff"),
      url("../fonts/rijksoverheidsanstext-italic/rijksoverheidsanstext-italic.otf") format("opentype");
    font-style:italic;
    font-weight:400;
}

@font-face {
      font-family:"ROSerif";
    src:
      url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.woff2") format("woff2"),
      url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.woff") format("woff"),
      url("../fonts/rijksoverheidserif-italic/rijksoverheidserif-italic.otf") format("opentype");
    font-style:italic;
    font-weight:400;
}

body {
  font-size: 1.15rem;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  margin-bottom: $spacing * 1.5;
  font-family: $font-family-header;
  color: $midnight;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -0.038rem; 
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

a {
  color: $cerulean;

  &:hover {
    border-bottom-color: currentColor;
  }
}