.field--name-field-pages {
  @include breakpoint($breakpoint-medium) {
    margin: 0 (-$spacing-half) $spacing;
    display: flex;
    flex-wrap: wrap;
  }

  >.field__item {
    display: flex;
    margin-bottom: $spacing-double;
    
    @include breakpoint($breakpoint-medium) {
      padding: 0 $spacing-half;
      width: 50%;
    }

    @include breakpoint($breakpoint-max) {
      width: 33.333%;
    }
  }
}